html, body, #bottom {
    width: 100%;
    height: 100%;
}

.intro
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100%;
    min-width: 100%;
}

.cell {
	padding: 0;
	border: 0;
}
#mazeTable {
	width: 100%;
    height: 100%;
}

#mazeDiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5%px;
    width: 90%;
    height: 90%;
}
.input-field label, label {
 color: white;
}
.mazeSelect {
    margin-top: 15px;
}
[type="radio"]:not(:checked)+label:before {
 border-color: white;
}
.warning-box {
    padding: 40px;
    cursor: pointer;
    margin-bottom: 25px;
}
.smaterial-tooltip {
    max-width: 400px;
}
#bottom, #loading {
    display: none;
}
#loading {
    padding: 50px;
}
.spinner-white-only {
    border-color: white;
}
.nav-wrapper {
    width: 90%;
    margin: auto;
}
